deploy_version

config-development.json
config-production.json
config-staging.json

api-secrets.yaml
postgresql-secret.yaml

venv/
*.log

__pycache__/
*.py[cod]

staticfiles/
.vscode/
resources/kubernetes/